body {
    background-color: #1c1c1c;
    color: #cccccc;
}


#imageContainer{
    display: flex;
    justify-content: center;
    border: solid #cccccc0e 1px;
    background-color: #1a1a1a;
    width: 536px;
    height: 354px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    
}

#image{
    border-radius: 5px;
}

#imgNavn {
}